:root {
  --primary-color: hsl(0, 36%, 70%);
  --secondary-color: hsl(0, 93%, 68%);
  --neutral-color: hsl(0, 6%, 24%);
  --gradient-1: linear-gradient(135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%));
  --gradient-2: linear-gradient(135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}
